.container.logos-header
  = link_to image_tag("logo_reporte.png", class: 'logo'), root_path
  = link_to image_tag("logo_adosapaco.png", class: 'logo'), 'http://www.adosapaco.oaxaca.gob.mx/'
  .pull-right
    = link_to image_tag("logo_gobierno.png", class: 'logo'), 'http://www.oaxaca.gob.mx/'
    = link_to image_tag("logo_oaxaca.png", class: 'logo'), 'http://www.oaxaca.gob.mx/'
    = link_to image_tag("lgoo_otransparente.png", class: 'logo'), 'http://www.oaxtransparente.gob.mx/'
