#footer
  .container
    .row
      .col-md-6
        %p
          Ésta es una plataforma de transparencia de
          = link_to 'código abierto', 'https://github.com/CodeandoMexico/reporte-ciudadano', class: 'footer-link'
          que promueve la colaboración
          %span.large-font gobierno-sociedad
          desarrollada para el Gobierno del Estado de Oaxaca como parte de su política de #Transparencia, #participaciónCiudadana y #Gobiernoabierto por:
        = link_to image_tag("logo_codeando-w.png", class: 'main-logo'), 'http://www.codeandomexico.org'
        %p en el marco del <b>Programa de Capacitación para Mejorar la Transparencia y Rendición de Cuentas en el Sector Agua y Saneamiento en el Estado de Oaxaca</b> 2011-2013 <a href="http://www.oaxtransparente.oaxaca.gob.mx/agua">www.oaxtransparente.oaxaca.gob.mx/agua</a>
        = link_to image_tag("bm.png", class: 'partner-logo'), 'http://www.bancomundial.org/'
        = link_to image_tag("tm.png", class: 'partner-logo'), 'http://www.tm.org.mx'
        = link_to image_tag("pnud.png", class: 'partner-logo'), 'http://www.undp.org/content/undp/es/home.html'
        = link_to image_tag("goboax.png", class: 'partner-logo'), 'http://www.oaxaca.gob.mx/'
        = link_to image_tag("bienestar.png", class: 'partner-logo'), 'http://www.oaxaca.gob.mx/'
        = link_to image_tag("ot.png", class: 'partner-logo'), 'http://www.oaxtransparente.gob.mx'
      .col-md-4.col-md-offset-2
        %h2.large-font SAPAO
        %p.address
          Calle Manuel Sabino Crespo # 509 Col. Centro,
          Oaxaca de Juárez, Oax., CP, 68000
        %h3.large-font Línea gratuita Sapao
        %h1.x-large-font 01800 0101050
